<%- include("partials/header") -%>
<h1> CONTACT</h1>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta itaque excepturi harum iusto fugit! Sed minus tempora earum perspiciatis odio porro numquam, blanditiis veritatis, dolores molestiae vel, fugit neque et!
Sunt iusto sequi omnis explicabo aut tenetur repellat voluptatibus similique fugit adipisci dicta labore, dolore ratione facilis, assumenda pariatur excepturi, aliquam ad possimus? Illo exercitationem dolorum mollitia sapiente inventore aliquid.
Incidunt impedit commodi assumenda corporis dolorem ex enim, mollitia voluptatum, beatae dignissimos deleniti ratione praesentium sit perspiciatis, fugit omnis soluta nulla provident ut neque fuga consequuntur! Officia obcaecati commodi iure?
Similique provident labore quas non quia voluptatem corrupti! Accusamus eligendi omnis sed consequatur accusantium expedita, facere aliquam sunt et ab modi exercitationem iusto eum aperiam iure illum molestiae reiciendis quod.
Reprehenderit, assumenda illum sunt vel cumque beatae ipsam natus aliquam, dignissimos, atque omnis. Exercitationem aspernatur harum consequuntur similique adipisci labore, deleniti corrupti ea blanditiis quaerat repudiandae incidunt veritatis sunt quibusdam.</p>
<%- include("partials/footer") -%>