<%- include("partials/header") -%>
<h1> Home</h1>
<p> "Lacus vel facilisis volutpat est velit egestas dui id ornare. Semper auctor neq
   ue vitae tempus quam. Sit amet cursus sit amet dictum sit amet justo. Viv
   erra tellus in hac habitasse. Imperdiet proin fermentum leo vel orci port
   a. Donec ultrices tincidunt arcu non sodales neque sodales ut. Mattis mole
   stie a iaculis at erat pellentesque adipiscing. Magnis dis parturient mont
   es nascetur ridiculus mus mauris vitae ultricies. Adipiscing elit ut aliqu
   am purus sit amet luctus venenatis lectus. Ultrices vitae auctor eu augue ut 
   lectus arcu bibendum at. Odio euis
   mod lacinia at quis risus sed vulp
   utate odio ut. Cursus mattis molestie a iaculis at erat pellentesque adipiscing.";</p>
<%- include("partials/footer") -%>